@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Display';
  src: url('./src/assets/fonts/SF-Pro-Display-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./src/assets/fonts/SF-Pro-Display-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('./src/assets/fonts/SF-Pro-Display-Semibold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('./src/assets/fonts/SF-Pro-Display-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: SF Pro Display, sans-serif;
}

main {
  flex: 1;
}
